In [1]:
import os
import pandas as pd

In [2]:
INPUT_FILE = '../data/5_histogram.csv'

In [3]:
def read_file(fpath):
    fobj = open(fpath, 'r')
    data = fobj.read()
    fobj.close()
    return [line.split(',') for line in data.split('\n')]

In [4]:
data = read_file(INPUT_FILE)

In [5]:
columns = data[0]

In [7]:
df = pd.DataFrame(data[2:-1], columns=columns)

In [8]:
df['PUSH0'] = df['PUSH0'].astype(int)
df['PUSH1'] = df['PUSH1'].astype(int)
df['PUSH2'] = df['PUSH2'].astype(int)
df['PUSH3'] = df['PUSH3'].astype(int)
df['PUSH4'] = df['PUSH4'].astype(int)
df['PUSH5'] = df['PUSH5'].astype(int)
df['PUSH6'] = df['PUSH6'].astype(int)
df['PUSH7'] = df['PUSH7'].astype(int)
df['PUSH8'] = df['PUSH8'].astype(int)
df['PUSH9'] = df['PUSH9'].astype(int)
df['PUSH10'] = df['PUSH10'].astype(int)
df['PUSH11'] = df['PUSH11'].astype(int)
df['PUSH12'] = df['PUSH12'].astype(int)
df['PUSH13'] = df['PUSH13'].astype(int)
df['PUSH14'] = df['PUSH14'].astype(int)
df['PUSH15'] = df['PUSH15'].astype(int)
df['PUSH16'] = df['PUSH16'].astype(int)
df['PUSH17'] = df['PUSH17'].astype(int)
df['PUSH18'] = df['PUSH18'].astype(int)
df['PUSH19'] = df['PUSH19'].astype(int)
df['PUSH20'] = df['PUSH20'].astype(int)
df['PUSH21'] = df['PUSH21'].astype(int)
df['PUSH22'] = df['PUSH22'].astype(int)
df['PUSH23'] = df['PUSH23'].astype(int)
df['PUSH24'] = df['PUSH24'].astype(int)
df['PUSH25'] = df['PUSH25'].astype(int)
df['PUSH26'] = df['PUSH26'].astype(int)
df['PUSH27'] = df['PUSH27'].astype(int)
df['PUSH28'] = df['PUSH28'].astype(int)
df['PUSH29'] = df['PUSH29'].astype(int)
df['PUSH30'] = df['PUSH30'].astype(int)
df['PUSH31'] = df['PUSH31'].astype(int)
df['PUSH32'] = df['PUSH32'].astype(int)

In [9]:
df['ALLPUSH'] = df['PUSH1'] + df['PUSH2'] +  df['PUSH3'] + df['PUSH4']  \
    + df['PUSH5'] + df['PUSH6'] + df['PUSH7'] + df['PUSH8'] \
    + df['PUSH1'] + df['PUSH2'] + df['PUSH1'] + df['PUSH2'] \
    + df['PUSH1'] + df['PUSH2'] + df['PUSH1'] + df['PUSH2'] \
    + df['PUSH1'] + df['PUSH2'] + df['PUSH1'] + df['PUSH2'] \
    + df['PUSH1'] + df['PUSH2'] + df['PUSH1'] + df['PUSH2'] \
    + df['PUSH1'] + df['PUSH2'] + df['PUSH1'] + df['PUSH2'] \
    + df['PUSH1'] + df['PUSH2'] + df['PUSH1'] + df['PUSH2']

In [10]:
df['PUSH0_perc'] = (df['PUSH0'] / df['ALLPUSH'] ) * 100

In [11]:
df

,Block#,Gas used,STOP,ADD,MUL,SUB,DIV,SDIV,MOD,SMOD,...,-,STATICCALL,-,-,REVERT,INVALID,SELFDESTRUCT,PUSH0,ALLPUSH,PUSH0_perc
0,12205970,12279594,138,11089,1873,3848,1442,0,3,0,...,0,185,0,0,11,0,4,7745,713481,1.085523
1,12205971,12469595,154,13521,1924,4420,2062,0,9,0,...,0,208,0,0,6,0,0,8514,842158,1.010974
2,12205972,12470726,180,12765,1969,4666,1628,2,14,0,...,0,227,0,0,8,0,10,8949,811370,1.102949
3,12205973,12472873,162,11487,1657,4185,1383,0,5,0,...,0,198,0,0,10,0,3,8532,756616,1.127653
4,12205974,12476769,162,8516,1255,3375,1245,0,4,0,...,0,109,0,0,5,0,9,6671,599266,1.113195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5885,12211762,12384642,158,12826,1733,4088,1634,0,27,0,...,0,196,0,0,12,0,6,8201,806581,1.016761
5886,12211764,12420064,136,14433,2049,5026,2023,0,136,0,...,0,204,0,0,2,0,0,9781,922759,1.059973
5887,12211763,12400640,89,8892,1334,3310,1329,0,22,0,...,0,118,0,0,4,0,0,5460,593124,0.920549
5888,12211765,12419291,141,12804,2038,4580,1898,2,75,0,...,0,179,0,0,12,0,0,8869,912396,0.972056
5889,12211766,12449977,160,9885,1392,3677,1999,0,34,0,...,0,167,0,0,2,0,0,8385,730481,1.147874

In [12]:
df['PUSH0_perc'].mean()

1.0542493540409525

In [13]:
df['PUSH0_perc'].min()

0.6125282036123074

In [14]:
df['PUSH0_perc'].max()

2.531824112274763

In [15]:
df[df.PUSH0_perc > 1]

,Block#,Gas used,STOP,ADD,MUL,SUB,DIV,SDIV,MOD,SMOD,...,-,STATICCALL,-,-,REVERT,INVALID,SELFDESTRUCT,PUSH0,ALLPUSH,PUSH0_perc
0,12205970,12279594,138,11089,1873,3848,1442,0,3,0,...,0,185,0,0,11,0,4,7745,713481,1.085523
1,12205971,12469595,154,13521,1924,4420,2062,0,9,0,...,0,208,0,0,6,0,0,8514,842158,1.010974
2,12205972,12470726,180,12765,1969,4666,1628,2,14,0,...,0,227,0,0,8,0,10,8949,811370,1.102949
3,12205973,12472873,162,11487,1657,4185,1383,0,5,0,...,0,198,0,0,10,0,3,8532,756616,1.127653
4,12205974,12476769,162,8516,1255,3375,1245,0,4,0,...,0,109,0,0,5,0,9,6671,599266,1.113195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5882,12211759,12379961,138,11031,1783,4174,1835,3,6,2,...,0,165,0,0,2,0,2,8363,824421,1.014409
5883,12211760,12369098,157,11775,1749,4295,2333,3,72,2,...,0,172,0,0,8,0,0,8631,842956,1.023897
5885,12211762,12384642,158,12826,1733,4088,1634,0,27,0,...,0,196,0,0,12,0,6,8201,806581,1.016761
5886,12211764,12420064,136,14433,2049,5026,2023,0,136,0,...,0,204,0,0,2,0,0,9781,922759,1.059973
5889,12211766,12449977,160,9885,1392,3677,1999,0,34,0,...,0,167,0,0,2,0,0,8385,730481,1.147874

In [16]:
df = df.sort_values(by=['PUSH0_perc'])
df = df[df.PUSH0_perc > 0]
df[
    ['Block#', 
     'PUSH1', 'PUSH2', 'PUSH3', 'PUSH4', 'PUSH5', 'PUSH6', 'PUSH7', 'PUSH8', 
     'PUSH9', 'PUSH10', 'PUSH11', 'PUSH12', 'PUSH13', 'PUSH14', 'PUSH15', 'PUSH16', 
     'PUSH17', 'PUSH18', 'PUSH19', 'PUSH20', 'PUSH21', 'PUSH22', 'PUSH23', 'PUSH24', 
     'PUSH25', 'PUSH26', 'PUSH27', 'PUSH28', 'PUSH29', 'PUSH30', 'PUSH31', 'PUSH32',
     'ALLPUSH', 'PUSH0', 'PUSH0_perc']]

,Block#,PUSH1,PUSH2,PUSH3,PUSH4,PUSH5,PUSH6,PUSH7,PUSH8,PUSH9,...,PUSH26,PUSH27,PUSH28,PUSH29,PUSH30,PUSH31,PUSH32,ALLPUSH,PUSH0,PUSH0_perc
2910,12208831,41221,20199,1,3294,4,0,0,0,0,...,0,0,342,412,0,0,682,801759,4911,0.612528
2852,12208773,40235,19891,4,3197,20,2,0,3,0,...,0,0,326,388,0,0,686,784864,4881,0.621891
1548,12207496,12243,9824,0,6622,26,0,0,0,0,...,0,0,1,35,22,0,212,293519,1851,0.630624
1858,12207802,34251,48165,32,18200,128,0,4,182,9,...,0,0,213,406,0,9,1301,1089954,7229,0.663239
90,12206058,37426,16088,126,2792,258,0,0,4,0,...,0,0,20,30,0,0,377,698862,4637,0.663507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5431,12211319,2088,75,0,6,0,0,0,0,0,...,0,0,0,0,0,0,2,28125,712,2.531556
2643,12208569,2088,75,0,6,0,0,0,0,0,...,0,0,0,0,0,0,2,28125,712,2.531556
5418,12211306,2088,75,0,6,0,0,0,0,0,...,0,0,0,0,0,0,2,28125,712,2.531556
4054,12209968,2102,79,0,6,0,0,0,0,0,...,0,0,0,0,0,0,2,28359,718,2.531824
2833,12208755,2102,79,0,6,0,0,0,0,0,...,0,0,0,0,0,0,2,28359,718,2.531824